.img-responsive{
	height: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container{
	margin-top: 70px;
}

#logo{
	width: 10em;
	display: block;
	margin: auto;
}

.container{
	margin-top: 0;
}

.col.v-center{
	display: flex;
	align-items: center;
	min-height: calc(100vh - 20px);
}

h1{
	font: normal 1.5rem "Roboto";
	letter-spacing: 0.5em;
	text-align: center;
	margin: 10px 0 20px 0;
}

h1 span:first-child{
	color: #094424;
}

h1 span:last-child{
	color: #ffba33;
}

form{
	width: 100%;
}

.input-field{
	width: 100%;
}