<div class="container">
	<h1>Here in filesLog</h1>
	<div class="log-panel">
		<div class="col-xs-12 log-form-panel">
			<span class="col-xs-8 log-form-search">
				<input type="text" name="" class="form-control" placeholder="Search">
			</span>
			<span class="col-xs-1 log-form-filter" uib-dropdown on-toggle="toggled(open)">
				<button id="simple-dropdown" uib-dropdown-toggle class="btn btn-default col-xs-12">Filter</button>
				<ul class="dropdown-menu col-xs-12" uib-dropdown-menu aria-labelledby="simple-dropdown">
					<li><a>Date</a></li>
					<li><a>Label</a></li>
					<li><a>Received by</a></li>
					<li><a>Sent by</a></li>
					<li><a>Status</a></li>
				</ul>
			</span>
			<span ng-controller="modalController as $ctrl" class="pull-right log-form-button">
				<button type="button" class="btn btn-success col-xs-12" ng-click="$ctrl.open('fileAddModal.html', false)"><span class="glyphicon glyphicon-plus"></span></button>
			</span>
			</div><!-- 
			<span >
				<button class="btn btn-success col-xs-12">Add</button>
			</span> -->
		</div>
		<div class="log-table-panel">
			<table class="table table-hover table-bordered log-table-main" style="width:100%">
				<thead>
					<tr class="log-table-heading">
						<th>Date</th>
						<th>Label</th>
						<th>Received By</th> 
						<th>Sent By</th>
						<th>Current Location</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-controller="modalController as $ctrl" class="log-table-rows" ng-repeat="file in filesData" ng-click="$ctrl.open('fileViewModal.html', file)">
						<td>{{file.date}}</td>
						<td>{{file.label}}</td>
						<td>{{file.receiver}}</td>
						<td>{{file.sender}}</td> 
						<td>{{file.location}}</td>
						<td>{{file.status}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>